# ETL phase 1, expoet CCBIS Data to CSV

In [6]:
#!pip install pandas
#!pip install pyodbc
import pandas as pd
import pyodbc
import os

In [2]:
sql_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=localhost;DATABASE=CCBIS;UID=sa;PWD=SQLServer2019')

In [3]:
#Let's do a test to see if we can extract data
query = "select * from [dbo].[Dimagent]"
df = pd.read_sql(query,sql_conn)
df.head(3)

   AgentID   FirstName  LastName    Group Location
0        1      Jarrod      Todd  Level 1   London
1        2  Chancellor  Mckenzie  Level 1   Berlin
2        3       Lamar      Pace  Level 5   London

In [5]:
tables = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME !='sysdiagrams'"
tbls = pd.read_sql(tables,sql_conn)
tbls.head(20)

        TABLE_NAME
0              CDR
1         DimAgent
2      DimCustomer
3     DimGeography
4    DimHandleType
5       DimProduct
6  DimProductGroup
7   DimServiceType
8  DimSeverifyType

In [17]:
WD = r"C:\Courses\DA-Project\Data"
for index, row in tbls.iterrows():
    name = row['TABLE_NAME']
    query = "select * from [dbo].["+ name + "]"
    print(query)
    df = pd.read_sql(query,sql_conn)
    
    df.to_csv(WD + "/" + name + '.csv',index=False)

select * from [dbo].[CDR]
select * from [dbo].[DimAgent]
select * from [dbo].[DimCustomer]
select * from [dbo].[DimGeography]
select * from [dbo].[DimHandleType]
select * from [dbo].[DimProduct]
select * from [dbo].[DimProductGroup]
select * from [dbo].[DimServiceType]
select * from [dbo].[DimSeverifyType]