# Data Cleansing
<img src="data-prep-kdd-process-crisp-dm.jpg" width="1000" height="600">
<h2><center>Data preparation in both the KDD Process (left) and the CRISP-DM model (right).</center></h2>
<img src="kdd.gif" width="800" height="500">
<h2><center>KDD - Knowledge Discovery in Databases</center></h2>
<img src="CRISP-DM_Process_Diagram.png" width="500" height="300">
<h2><center>CRISP - Cross-industry standard process for data mining</center></h2>

Data cleansing consists of following 3 processes usally<br> 
* Missing Values
* Outlier Values
* Duplidated values

## Missing value handling

Pandas treat None and NaN as essentially interchangeable for indicating missing or null values. To facilitate this convention, there are several useful functions for detecting, removing, and replacing null values in Pandas DataFrame :

* isnull()
* notnull()
* dropna()
* fillna()
* replace()
* interpolate()

In [1]:
## From SQL to DataFrame Pandas
import pandas as pd
import os
import time

In [2]:
os.chdir(r"C:\Courses\DA-Project")
ccbis_files=os.listdir()
createVar = locals()
for i in ccbis_files:
    if i.endswith("csv"):
        createVar[i.split('.')[0]] = pd.read_csv(i)

## Data overview

In [3]:
# dataframe CDR
CDR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16000 entries, 0 to 15999
Data columns (total 18 columns):
CDRID               16000 non-null int64
CustomerKey         16000 non-null int64
AgentKey            16000 non-null int64
CallDate            16000 non-null object
Start_TM            16000 non-null object
End_TM              16000 non-null object
Status              16000 non-null object
Satisfaction        16000 non-null int64
FirstResolved       16000 non-null int64
HandleType_Key      16000 non-null int64
ServiceType_Key     16000 non-null int64
SeverityType_Key    16000 non-null int64
CallReason_Key      16000 non-null int64
NPS                 16000 non-null int64
ProductKey          16000 non-null int64
CustomerTier        16000 non-null object
CustomerSegment     16000 non-null object
CloseDate           16000 non-null object
dtypes: int64(11), object(7)
memory usage: 2.2+ MB

## Count the Null Columns

In [4]:
null_columns=CDR.columns[CDR.isnull().any()]
CDR[null_columns].isnull().sum()

Series([], dtype: float64)

If there are lots of different columns containing null values. What if we want to find specific row and column which has null?

## Single Column Is Null

In [6]:
print(CDR[CDR["Status"].isnull()][null_columns])

Empty DataFrame
Columns: []
Index: []

And what if we want to return every row that contains at least one null value? That’s not too difficult – it’s just a combination of the code in the previous two sections.

## All Null Columns

In [7]:
print(CDR[CDR.isnull().any(axis=1)][null_columns].head())

Empty DataFrame
Columns: []
Index: []

## Let's check other tables