#ETL phase 1, expoet CCBIS Data to CSV

In [15]:
#!pip install pandas
#!pip install pyodbc

modules = ['os', 'pandas', 'pyodbc']
for module in modules:
    import_neccessary_modules(module)
    
try:
  import pandas as pd
  print('importing pandas as pd')
except:
  !pip install pandas
  print('pip install pandas')
  import pandas as pd
  print('importing pandas as pd')

NameError: name 'import_neccessary_modules' is not defined

In [2]:
#Set up SQL Server connector
sql_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=localhost; DATABASE=CCBIS; UID=sa; PWD=SQLServer2019')

In [3]:
#Let's do a test to see if we can extract data
query = "SELECT * FROM [dbo].[Dimagent]"
df = pd.read_sql(query,sql_conn)
df.head(3)

   AgentID   FirstName  LastName    Group Location
0        1      Jarrod      Todd  Level 1   London
1        2  Chancellor  Mckenzie  Level 1   Berlin
2        3       Lamar      Pace  Level 5   London

In [4]:
# get table name list
tables = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME != 'sysdiagrams'"
tbls = pd.read_sql(tables, sql_conn)
tbls.head(20)

        TABLE_NAME
0              CDR
1         DimAgent
2      DimCustomer
3     DimGeography
4    DimHandleType
5       DimProduct
6  DimProductGroup
7   DimServiceType
8  DimSeverifyType

In [5]:
WD = r"C:\MyDataFiles\Data_CCBIS_202107"
#print(WD)
for index, row in tbls.iterrows():
    name = row['TABLE_NAME']
    query = "SELECT * FROM [dbo].[" + row['TABLE_NAME'] + "]"
    print(query)
    df = pd.read_sql(query, sql_conn)
    df.to_csv(WD + "/" + name + '.csv', index=False)

SELECT * FROM [dbo].[CDR]
SELECT * FROM [dbo].[DimAgent]
SELECT * FROM [dbo].[DimCustomer]
SELECT * FROM [dbo].[DimGeography]
SELECT * FROM [dbo].[DimHandleType]
SELECT * FROM [dbo].[DimProduct]
SELECT * FROM [dbo].[DimProductGroup]
SELECT * FROM [dbo].[DimServiceType]
SELECT * FROM [dbo].[DimSeverifyType]